[alias]
  fixup = commit --fixup
  amend = commit --amend

[user]
  name = ohakutsu
  email = dev@ohakutsu.com

[init]
  defaultBranch = main

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
